.fs__hero__section {
    background-image: url(../images/hero.jpg);
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    background-size: cover; // Ensure the image covers the section
    background-position: center; // Center the image
    color: #fff;
    padding: 120px 150px;
    text-align: center;
    width: 100%;
    height: 500px;

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    h2 {
      font-size: 2em;
      margin-bottom: 20px;
      color: #38CB00;
      font-weight: 700;
    }
  
    h3 {
      font-size: 1.7em;
      margin-bottom: 20px;
      font-weight: 600;
    }
  
    p {
      font-size: 1.2em;
      line-height: 1.5;
    }
  
    // Media Queries
    @media (max-width: 768px) {
      padding: 80px 30px;
      height: 400px;
  
      h2 {
        font-size: 1.5em;
      }
  
      h3 {
        font-size: 1.3em;
      }
  
      p {
        font-size: 1em;
      }
    }
  
    @media (max-width: 576px) {
      padding: 60px 30px;
      height: 350px;
  
      h2 {
        font-size: 1.5em;
      }
  
    
      p {
        font-size: 0.9em;
      }
    }
  }
  